.categorylist {
    padding: 16px;
    border-radius: 6px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.category_button {
    padding: 12px 16px;
    border-radius: 6px;
    background-color: #98bbeb;
    &.selected {
        font-weight: bold;
        background-color: #3d6fb3;
        color: #eeeeee;
    }
}