.postCard_container {
    border: 1px solid #e0e0e0;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
}

.thumbnail_container {
    border-bottom: 1px solid #e0e0e0;
}

.postCard_abstract {
    background-color: #98bbeb;
    padding: 16px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
}

.postCard_title {
    font-size: 20px;
}

.postCard_category {
    font-size: 16px;
}

.postCard_posting_date {
    font-size: 12px;
}